.container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 40px;
    background-color: white;
    /* color: rgb(75, 63, 208); */
    /* color: linear-gradient(to right, rgb(251, 74, 110) 0%, rgb(252, 86, 72) 100%); */
    color: rgb(80,80,80); /* rgb(251, 74, 110) */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.titulo {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.titulo>h1 {
    font-weight: bold;
    background: linear-gradient(to right, rgb(181, 4, 40) 0%, rgb(252, 86, 72) 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conteudo {
    display: flex;
}

.modo {
    width: 300px;
    margin: 20px 0;
    border-radius: 5px;
}

.opcao-modo {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

.esquerda>input {
    margin: 0px 5px;
}

input.valor {
    width: 50px;
    margin: 5px;
}

textarea {
    height: 100px;
    width: 300px;
    resize: none;
}

.tipo-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#tipo-bonificacao {
    height: auto;
    background-color: rgb(199, 246, 219);
    display: none;
}

#tipo-deducao {
    height: auto;
    background-color: rgb(243, 212, 210);
    display: none;
}

#input-pontos {
    margin: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#relatorio-pontos {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.15);
    flex-grow: 1;
}

#opcao-modo-debitar {
    /* background-color: rgb(223, 192, 190) */
    background-color: #d32f2f;
}

#opcao-modo-creditar {
    /* background-color: rgb(189, 226, 199) */
    background-color: #357a38;
}

#grid-resumo {
    /* width: 100%; */
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.item-matricula {
    /* background-color: #a067bc; */
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-nome {
    /* background-color: #bc67a0; */
    margin: 5px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#data-alteracao {
    margin-bottom: 20px;
    width: 50%;
}

#enviar {
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 74, 110);
    color:white;
    border:none;
    border-radius: 5px;
}

input[type="radio"] {
    margin: 0px 5px;
}

.label-gestao {
    font-size: 19px;
    font-weight: 300;
    color: rgb(80, 80, 80); /* rgb(251, 74, 110) */
}

.label-gestao.branco{
    color:white;
    font-weight: 300;
}

.label-gestao.interno {
    color: rgb(134, 134, 134);
    font-weight: 300;
}

.opcao-modo>label {
    margin: 0px 5px;
}

.opcao-tipo>label {
    margin: 3px 5px;
}

.container{
    color: rgb(80, 80, 80);
}
